<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error Page</title>
</head>
<body>
    <p>Sorry, the evaluator did not understand. Values need to be: </p>
    <ul>
        <li>A valid subreddit</li>
        <li>An entry greater or equal to 1 for tweets and submissions returned</li>
    </ul> 
    Please enter a valid input and try again. 
    <a href=http://127.0.0.1:5000/ class="button">Return Home</a>
</body>
</html>