<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter Reddit Evaluator Homepage</title>
    <style>
        .text_inputs {
            padding-right:40px;
        }
    </style>
    <script>
        function processForm()
        {
            var myform=document.getElementById("form1");
            if (myform.twitter_topic.value=="")
            {
                alert("You must fill in all the entries")
            }
            return false;
        }
    </script>
</head>
<body>
    <h1>Twitter and Reddit Evaluator</h1>
    <p>Welcome to the Twitter and Reddit Evaluator. Please enter the topics/subreddits of interest and number of tweets/submissions returned. The evaluator will return the average compound sentiment score, comprised of returned tweets and 3 comments per reddit submission, and a dictionary of the tweets and reddit submissions with comments.</p>
    <form method = 'POST' name = "form1">
        <h2>Twitter</h2>
        <p>
            Please enter the topic you'd wish to search: <input type="text" size="50" name="twitter_topic" id="twitter_topic">
        </p>
        <p>
            Please enter the number of tweets you want returned: <input type="text" size="20" name="twitter_post_num" id = "twitter_post_num">
        </p>

        <h2>Reddit</h2>
        <p>
            Please enter the subreddit you'd wish to search: <input type="text" size="50" name="reddit_topic" id="reddit_topic">
        </p>
        <p>
            Please enter the number of submissions you want returned: <input type="text" size="20" name="reddit_post_num" id = "reddit_post_num">
        </p>
        <!-- <h2>Newspaper</h2>
        <p>
            Please enter the topic you'd wish to search: <input type="text" size="50" name="news_topic" id="news_topic">
        </p> -->
        <p style="text-align:center">
            <input type="submit" name="submit" value="Submit"/>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" name="reset" value="Reset"/>
        </p>

    </form>
</body>
</html>